{{#if addNewAnswer}}
  <h3>Add New Answer</h3>
    <div>
      <form>
        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="content">Content</label>
          {{input value=content id="content"}}
        </div>

        <button {{action 'save1'}} class="btn btn-primary">Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'answerFormShow'}} class="btn btn-primary">New Answer</button>
{{/if}}
