
<li class="question">
  {{question-featured question}}
  <div class="question-content">
    <span class="question-title">
    {{question-rate question=question update="update"}} <span class="rating">{{question.rating}}</span> |
    {{#link-to 'question' question.id}}
    {{question.title}} {{/link-to}}
    </span> by {{question.author}}
  <button {{action 'addToFavorites' question}} class="favbutton addbutton"><strong class="fa fa-heart"></strong> Add to Favorites</button> | {{#link-to 'question' question.id}}{{questionAmount}} Answers {{/link-to}}
  </div>
</li>
