
<li class="question">
  {{question-featured question}}
  <span class="question-title">
  {{question.rating}}
  <button {{action 'upVote' question}}><strong class="fa fa-thumbs-up"></strong></button>
  <button {{action 'downVote' question}}><strong class="fa fa-thumbs-down"></strong></button> |
  {{#link-to 'question' question.id}}
  {{question.title}} {{/link-to}}
  </span> by {{question.author}}
<button {{action 'addToFavorites' question}} class="favbutton addbutton"><strong class="fa fa-heart"></strong> Add to Favorites</button> | {{#link-to 'question' question.id}}{{questionAmount}} Answers {{/link-to}}</li>
