<h1>{{model.title}}</h1>
<h3>by {{model.author}}</h3>

{{question-detail question=model destroyQuestion="destroyQuestion"}}

<div class="answer-list">
  <h4>Answers:</h4>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</div>

{{new-answer save2="save3" question=model}}
